<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{!-- Importing The Bootstrap CSS Here --}}
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    {{!-- Importing The Bootstrap CSS Here --}}

    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    {{!-- Header Partial Here --}}
    {{>header}}
    {{!-- Header Partial Here --}}

    {{!-- Content Goes Here --}}
    <h4>{{msg}}</h4>
    {{!-- Content Goes Here --}}

    {{!-- Importing The jQuery / Popper / Bootstrap JS Files Here --}}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    {{!-- Importing The jQuery / Popper / Bootstrap JS Files Here --}}

</body>

</html>